In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)
df = pd.read_excel(r"D:\Data Science\SplashBI_Migration_Automation\Data\Copy_of_Summary_Receipts_by_Customer.xlsx")
df.head()

,Customer Name,Customer Number,Receipt Number,Receipt Date,Type,Receipt Status,Currency Code,Functional Amount,Amount,Net Amount,Customer Receipt Reference,Payment Type Code,Receipt Class Dsp,Location,Customer Bank Name,Customer Bank Account,Customer Bank Account Num,Customer Bank Branch,Batch Name,State,Posted Date,Gl Posted Date,Activity,Tax Code Source,Operating Unit
0,World of Business,1000,1009879,1998-10-01,CASH,REV,USD,880801.75,880801.75,880801.75,NaN,NaN,Manual Receipts - BofA,San Jose (OPS),NaN,NaN,NaN,NaN,NaN,REVERSED,1998-10-31,1998-10-31,NaN,NaN,Vision Operations
1,World of Business,1000,1011118,1998-04-01,CASH,REV,USD,12000000.00,12000000.00,12000000.00,NaN,NaN,Manual Receipts - BofA,San Jose (OPS),NaN,NaN,NaN,NaN,NaN,REVERSED,1999-09-30,1999-09-30,NaN,NaN,Vision Operations
2,World of Business,1000,1011627,1998-06-27,CASH,APP,USD,2000000.00,2000000.00,2000000.00,NaN,NaN,Manual Receipts - BofA,San Jose (OPS),NaN,NaN,NaN,NaN,NaN,CLEARED,1998-06-01,1998-06-01,NaN,NaN,Vision Operations
3,World of Business,1000,1013500,1998-11-04,CASH,REV,USD,1742.91,1742.91,1742.91,NaN,NaN,Manual Receipts - BofA,San Jose (OPS),NaN,NaN,NaN,NaN,NaN,REVERSED,1998-11-30,1998-11-30,NaN,NaN,Vision Operations
4,World of Business,1000,102222,1997-12-21,CASH,REV,DEM,4062.50,6500.00,6500.00,NaN,NaN,Manual Receipts - BofA,San Jose (OPS),NaN,NaN,NaN,NaN,NaN,REVERSED,1999-09-30,1999-09-30,NaN,NaN,Vision Operations

In [5]:
xl1 = pd.ExcelFile(r"D:\Data Science\SplashBI_Migration_Automation\Data\Copy_of_Summary_Receipts_by_Customer.xlsx")

In [6]:
xl1.sheet_names

['Data',
 'Pivot-Summ Receipts by Custom',
 'Pivot-Fixed',
 'Summary Receipts by Customer',
 'Summary Receipts by State',
 'Report Filters - Copy of ']

In [7]:
xl1

In [ ]:
df = pd.read_excel(r"D:\Data Science\SplashBI_Migration_Automation\Data\Copy_of_Summary_Receipts_by_Customer.xlsx", sheet_name=)