In [1]:
import pandas as pd

In [5]:
express_file = pd.read_excel(r"D:\Data Science\SplashBI_Migration_Automation\Data\psgcdb_Copy of Summary Receipts by Customer_1014943_19940_1.xlsx", sheet_name="Data")
customer_file = pd.read_excel(r"D:\Data Science\SplashBI_Migration_Automation\Data\Copy_of_Summary_Receipts_by_Customer.xlsx", sheet_name="Data")

In [6]:
express_file.shape == customer_file.shape

True

In [8]:
express_file.shape, customer_file.shape

((7, 25), (7, 25))

In [11]:
express_file_columns = express_file.columns.tolist()
customer_file_columns = customer_file.columns.tolist()

In [12]:
express_file_columns==customer_file_columns

True

In [15]:
express_file.head()

,Customer Name,Customer Number,Receipt Number,Receipt Date,Type,Receipt Status,Currency Code,Functional Amount,Amount,Net Amount,...,Customer Bank Account,Customer Bank Account Num,Customer Bank Branch,Batch Name,State,Posted Date,Gl Posted Date,Activity,Tax Code Source,Operating Unit
0,World of Business,1000,1009879,1998-10-01,CASH,REV,USD,880801.75,880801.75,880801.75,...,NaN,NaN,NaN,NaN,REVERSED,1998-10-31,1998-10-31,NaN,NaN,Vision Operations
1,World of Business,1000,1011118,1998-04-01,CASH,REV,USD,12000000.00,12000000.00,12000000.00,...,NaN,NaN,NaN,NaN,REVERSED,1999-09-30,1999-09-30,NaN,NaN,Vision Operations
2,World of Business,1000,1011627,1998-06-27,CASH,APP,USD,2000000.00,2000000.00,2000000.00,...,NaN,NaN,NaN,NaN,CLEARED,1998-06-01,1998-06-01,NaN,NaN,Vision Operations
3,World of Business,1000,1013500,1998-11-04,CASH,REV,USD,1742.91,1742.91,1742.91,...,NaN,NaN,NaN,NaN,REVERSED,1998-11-30,1998-11-30,NaN,NaN,Vision Operations
4,World of Business,1000,102222,1997-12-21,CASH,REV,DEM,4062.50,6500.00,6500.00,...,NaN,NaN,NaN,NaN,REVERSED,1999-09-30,1999-09-30,NaN,NaN,Vision Operations

In [38]:
len(express_file.iloc[4].tolist()), len(customer_file.iloc[4].tolist())

(25, 25)

In [39]:
row_element = len(express_file.iloc[4].tolist())
for i in range(row_element):
    if express_file.iloc[4].tolist()[i]==customer_file.iloc[4].tolist()[i]:
        print(f"{i} element is Valid ✅")
    else:
        print(f"{i} element is Invalid ❌")

0 element is Valid ✅
1 element is Valid ✅
2 element is Valid ✅
3 element is Valid ✅
4 element is Valid ✅
5 element is Valid ✅
6 element is Valid ✅
7 element is Valid ✅
8 element is Valid ✅
9 element is Valid ✅
10 element is Invalid ❌
11 element is Invalid ❌
12 element is Valid ✅
13 element is Valid ✅
14 element is Invalid ❌
15 element is Invalid ❌
16 element is Invalid ❌
17 element is Invalid ❌
18 element is Invalid ❌
19 element is Valid ✅
20 element is Valid ✅
21 element is Valid ✅
22 element is Invalid ❌
23 element is Invalid ❌
24 element is Valid ✅

In [41]:
customer_file.iloc[4].tolist()[23]==express_file.iloc[4].tolist()[23]

np.False_

In [29]:
num_rows = express_file.shape[0]

In [31]:
if express_file.shape[0]==customer_file.shape[0]:
    print("True")
    for row in range(num_rows):
        # express_file_row_list = []
        # customer_file_row_lilst = []
        print(f'Checking for row: {row}')
        result = express_file.iloc[row].tolist() == customer_file.iloc[row].tolist()
        print(result)

True
Checking for row: 0
False
Checking for row: 1
False
Checking for row: 2
False
Checking for row: 3
False
Checking for row: 4
False
Checking for row: 5
False
Checking for row: 6
False